<!-- Start Chapitres -->
<section class="relative md:py-24 py-16 bg-slate-50 dark:bg-slate-800" id="chapitres">
    <div class="container relative">
        <div class="grid grid-cols-1 pb-6 text-center">
            <h3 class="font-semibold text-2xl leading-normal mb-4">Chapitres</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Voici tous les sujets traités dans le livre.</p>
        </div><!--end grid-->

        <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-6 mt-6">
            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="sunrise" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Origines de Kubernetes</a>
                    <p class="text-slate-400 mt-3">Comprenez comment le projet Kubernetes a vu le jour, et a été architecturé en quelques composants Core.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="sunrise" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="codepen" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Distribution Kubernetes</a>
                    <p class="text-slate-400 mt-3">Explorez les possibilités de configuration et d'extensions compatibles Kubernetes pour former une distribution.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="codepen" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="hexagon" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Platform as a Service</a>
                    <p class="text-slate-400 mt-3">Tirez pleinement profit de Kubernetes en organisant les outils et services de votre infrastructure selon le concept de Platform as a Service.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="hexagon" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="tool" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Mise en œuvre</a>
                    <p class="text-slate-400 mt-3">Atteignez des hauts niveaux de services pour votre infrastructure en construisant une plateforme sur mesure avec Kubernetes.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="tool" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="shield" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Sécurité</a>
                    <p class="text-slate-400 mt-3">Découvrez une méthode et des outils compatibles Kubernetes permettant d'augmenter la sécurité de vos clusters.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="shield" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="book-open" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Cas d'Utilisation</a>
                    <p class="text-slate-400 mt-3">Explorez des cas d'utilisation atypiques mais essentiels de Kubernetes, mettant en lumière les bonnes pratiques pour répondre à des besoins spécifiques.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="book-open" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="share-2" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Écosystème Kubernetes</a>
                    <p class="text-slate-400 mt-3">Plongez dans l'écosystème de Kubernetes : découvrez les outils internes et externes étendant ses fonctionnalités.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="share-2" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="more-horizontal" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Et bien d'autres</a>
                    <p class="text-slate-400 mt-3">D'autres chapitres sur Kubernetes vous permettront de mieux appréhender et comprendre cette technologie révolutionnaire.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="more-horizontal" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Chapitres -->
