<!-- Start Chapitres -->
<section class="relative md:py-24 py-16 bg-slate-50 dark:bg-slate-800" id="chapitres">
    <div class="container relative">
        <div class="grid grid-cols-1 pb-6 text-center">
            <h3 class="font-semibold text-2xl leading-normal mb-4">Chapitres</h3>

            <p class="text-slate-400 max-w-xl mx-auto">Voici tous les sujets traités dans le livre.</p>
        </div><!--end grid-->

        <div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-6 mt-6">
            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="compass" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Organisation de Kubernetes</a>
                    <p class="text-slate-400 mt-3">Comprendre les tenants et aboutissants de Kubernetes, des pods aux clusters, pour une utilisation autonome et efficace.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="compass" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="key" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Piloter Kubernetes</a>
                    <p class="text-slate-400 mt-3">Découvrez les APIs de Kubernetes pour communiquer avec et piloter efficacement cette technologie.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="key" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="compass" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Automatisation et Orchestration</a>
                    <p class="text-slate-400 mt-3">Explorez les stratégies d'automatisation de Kubernetes (comme les Controller) pour simplifier les déploiements et la surveillance des applications.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="compass" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="search" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Surveillance et Dépannage</a>
                    <p class="text-slate-400 mt-3">Apprenez à optimiser, dimensionner et dépanner vos applications sur Kubernetes.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="search" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="shield" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Sécurité</a>
                    <p class="text-slate-400 mt-3">Découvrez les bonnes pratiques en matière d'authentification, d'authentification et d'extensions pour renforcer la sécurité dans Kubernetes.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="shield" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="book-open" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Cas d'Utilisation</a>
                    <p class="text-slate-400 mt-3">Explorez des cas d'utilisation atypiques mais essentiels de Kubernetes, mettant en lumière les bonnes pratiques pour répondre à des besoins spécifiques.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="book-open" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="share-2" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Écosystème Kubernetes</a>
                    <p class="text-slate-400 mt-3">Plongez dans l'écosystème de Kubernetes : découvrez les outils internes et externes étendant ses fonctionnalités.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="share-2" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->

            <div class="group rounded-md shadow dark:shadow-gray-700 relative bg-white dark:bg-slate-900 p-6 overflow-hidden h-fit" style="min-height: 350px;" >
                <div class="flex items-center justify-center size-14 -rotate-45 bg-gradient-to-r from-transparent to-teal-500/10 text-teal-500 text-center rounded-full group-hover:bg-teal-500/10 duration-500">
                    <i data-feather="more-horizontal" class="size-6 rotate-45"></i>
                </div>

                <div class="content mt-6 relative z-1">
                    <a href="" class="title text-lg font-semibold hover:text-teal-500">Et bien d'autres</a>
                    <p class="text-slate-400 mt-3">D'autres chapitres sur Kubernetes vous permettront de mieux appréhender et comprendre cette technologie révolutionnaire.</p>
                </div>

                <div class="absolute bottom-0 -end-16">
                    <i data-feather="more-horizontal" class="size-48 text-teal-500 opacity-[0.04] dark:opacity-[0.04] group-hover:opacity-10 duration-500"></i>
                </div>
            </div><!--end feature content-->
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Chapitres -->
