<!-- Start Pricing -->
<section class="relative md:py-24 py-16 bg-slate-50 dark:bg-slate-800" id="editions">
    <div class="container relative">
        <div class="grid grid-cols-1 pb-6 text-center">
            <h3 class="font-semibold text-2xl leading-normal mb-4">Les Différentes Éditions</h3>
            <p class="text-slate-400 max-w-xl mx-auto">Les différents packages numériques et papiers disponibles. N'hésitez pas à me contacter si vous souhaitez faire un achat groupé.</p>
        </div><!--end grid-->

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-6 gap-6">

            <div class="col-start-2 group p-[1px] relative overflow-hidden shadow dark:shadow-gray-700 rounded-md bg-gradient-to-tr from-teal-500 to-indigo-600 h-fit">
                <div class="p-6 bg-white dark:bg-slate-900 rounded-md">
                    <h6 class="font-semibold mb-5 text-xl">Digitale</h6>

                    <div class="flex mb-5">
                        <span class="text-lg font-medium">€</span>
                        <span class="price text-5xl h6 font-semibold mb-0">9.99</span>
                    </div>

                    <ul class="list-none text-slate-400">
                      <li class="mb-1 flex"><i class="mdi mdi-check-circle-outline text-teal-500 text-[20px] align-middle me-2"></i> <span>Le livre complet (350 pages), en version PDF.</span></li>
                      <li class="mb-1 flex"><i class="mdi mdi-check-circle-outline text-teal-500 text-[20px] align-middle me-2"></i> <span>Tous les entretiens d'acteurs du marché</span></li>
                      <li class="mb-1 flex"><i class="mdi mdi-check-circle-outline text-teal-500 text-[20px] align-middle me-2"></i> <span>En tant que connaisseur Kubernetes, vous avez l'option de recevoir des nouvelles de l'écosystème Kubernetes par newsletter</span></li>
                    </ul>

                    <a href="https://www.amazon.fr/dp/B0DMHYT348/ref=sr_1_3" class="h-10 px-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white w-full mt-5">Acheter</a>
                </div>
            </div><!--end content-->

        </div><!--end grid-->
    </div>
</section>
<!-- End Pricing -->
