<section class="relative md:py-24 py-8"><!-- Start Livre -->
  <div class="container relative">
    <div class="flex flex-col md:flex-row items-center">
      <div class="basis-1/2">
        <h6 class="text-teal-500 text-sm font-semibold uppercase mb-2">Selon l'auteur…</h6>
        <h3 class="font-semibold text-2xl leading-normal mb-4">Quatrième de couverture</h3>

        <p class="text-slate-400 max-w-xl mb-6">Réduire Kubernetes, un outil d'une telle flexibilité, modularité et extensibilité, à une simple liste de fonctionnalités serait une erreur majeure. C'est pourquoi, après avoir exploré les fondements de Kubernetes à travers le fonctionnement de ses composants principaux, nous établirons un cadre de réflexion pour découvrir l'étendue des possibilités qu'il offre, tout en en identifiant ses limites. Ce cadre repose sur le concept de Plateforme as a Service (PaaS).</p>
        <p class="text-slate-400 max-w-xl mb-6">Nous démontrerons que Kubernetes se distingue particulièrement dans la construction de plateformes sur mesure, capables d'atteindre des niveaux de service élevés avec une allocation de ressources relativement modeste. Loin de se limiter à un rôle technique, Kubernetes s'impose comme un outil stratégique, adaptable à la grande majorité des entreprises qui souhaitent tirer parti de son potentiel.</p>

        <div class="flex justify-center">
          <a href="#chapitres" class="h-10 px-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white">Voir les chapitres <i class="mdi mdi-chevron-right align-middle ms-0.5"></i></a>
        </div>
      </div>

      <div class="basis-1/2 flex justify-center pt-8">
          <img src="/images/BackgroundBook.webp" class="rounded-full shadow dark:shadow-gray-700 max-w-40 max-h-40 md:max-w-96 md:max-h-96" alt="Livre The Art of Kubernetes" >
      </div>
    </div>
  </div><!--end container-->
</section><!--end section livre-->
