<section class="relative md:py-24 py-16"><!-- Start Livre -->
  <div class="container relative">
    <div class="grid md:grid-cols-12 md:grid-rows-1 grid-rows-2 grid-cols-3 items-center gap-6">
      <div class="md:col-span-8 md:row-start-1 md:col-start-1 col-span-3">
        <div class="lg:ms-8">
          <h6 class="text-teal-500 text-sm font-semibold uppercase mb-2">Selon l'auteur…</h6>
          <h3 class="font-semibold text-2xl leading-normal mb-4">Pourquoi ce livre ?</h3>

          <p class="text-slate-400 max-w-xl mb-6">Cet ouvrage a pour ambition de vous offrir une vue exhaustive des possibilités et des limites de Kubernetes et de son écosystème, afin de répondre à vos besoins d'infrastructure pour vos applications.</p>
          <p class="text-slate-400 max-w-xl mb-6">Après avoir vu les fondamentaux du projet et des briques élémentaires de Kubernetes, nous aborderons le concept de Platform as a Service. Ce concept nous permettra de tirer pleinement profit de Kubernetes et de ses fonctionnalités afin d'atteindre des hauts niveaux de services pour vos applications. </p>

          <a href="#chapitres" class="h-10 px-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white">Voir les chapitres <i class="mdi mdi-chevron-right align-middle ms-0.5"></i></a>
        </div>
      </div>

      <div class="md:col-span-4 md:row-start-1 md:col-start-2 row-start-2 col-start-2">
        <div class="lg:me-8">
          <div class="relative">
            <img src="/theme/assets/images/TheArtOfKubernetes-book-icon.webp" class="rounded-full shadow dark:shadow-gray-700" alt="">
          </div>
        </div>
      </div>
    </div>
  </div><!--end container-->
</section><!--end section livre-->
