<section class="relative md:py-24 py-16"><!-- Start Livre -->
  <div class="container relative">
    <div class="grid md:grid-cols-12 md:grid-rows-1 grid-rows-2 grid-cols-3 items-center gap-6">
      <div class="md:col-span-8 md:row-start-1 md:col-start-1 col-span-3">
        <div class="lg:ms-8">
          <h6 class="text-teal-500 text-sm font-semibold uppercase mb-2">Un mot de l'auteur…</h6>
          <h3 class="font-semibold text-2xl leading-normal mb-4">Pourquoi ce livre ?</h3>

          <p class="text-slate-400 max-w-xl mb-6">J'espère offrir aux dirigeants d'entreprises technologiques une compréhension approfondie de l'histoire de Kubernetes, de son évolution et de ses capacités, afin qu'ils aient une vue d'ensemble claire de cette technologie et de son écosystème. Pour rendre la lecture agréable, j'ai inclus une dizaine d'entretiens avec des utilisateurs de Kubernetes, recueillant leurs retours d'expérience sur des projets qu'ils ont menés à bien au sein de leurs entreprises respectives.
          <p class="text-slate-400 max-w-xl mb-6">D'un autre côté, je souhaite que les lecteurs techniques, les développeurs et les DevOps y trouvent les informations nécessaires pour comprendre clairement les capacités de Kubernetes, ainsi que les moyens d'être autonomes dans sa mise en place et son utilisation.
          </p>

          <a href="#chapitres" class="h-10 px-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white">Voir les chapitres <i class="mdi mdi-chevron-right align-middle ms-0.5"></i></a>
        </div>
      </div>

      <div class="md:col-span-4 md:row-start-1 md:col-start-2 row-start-2 col-start-2">
        <div class="lg:me-8">
          <div class="relative">
            <img src="/theme/assets/images/TheArtOfKubernetes-book-icon.webp" class="rounded-full shadow dark:shadow-gray-700" alt="">
          </div>
        </div>
      </div>
    </div>
  </div><!--end container-->
</section><!--end section livre-->
