<section class="relative md:py-24 py-16"><!-- Section Auteur -->
    <div class="container relative">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center gap-6">
            <div class="md:col-span-6">
                <div class="lg:me-8">
                    <div class="relative">
                        <img src="theme/assets/images/auteur-florian-grignon.jpg" class="rounded-full shadow dark:shadow-gray-700" alt="">
                    </div>
                </div>
            </div>

            <div class="md:col-span-6">
                <div class="lg:ms-8">
                    <h6 class="text-teal-500 text-sm font-semibold uppercase mb-2">A qui s'adresse ce livre ?</h6>
                    <h3 class="font-semibold text-2xl leading-normal mb-4">Pour tous les utilisateurs de Kubernetes, mais pas que…</h3>

                    <p class="text-slate-400 max-w-xl mb-6">J'ai écris ce livre à destination de toutes les personnes techniques et non techniques qui sont amenées à travailler avec Kubernetes.</p>

                    <a href="#chapitres" class="h-10 px-6 tracking-wide inline-flex items-center justify-center font-medium rounded-md bg-teal-500 text-white">Voir les chapitres <i class="mdi mdi-chevron-right align-middle ms-0.5"></i></a>
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section auteur-->
<!-- End Auteur -->
