<!-- Start Review -->
<section class="relative md:py-24 py-16" id="review">
    <div class="container relative">
        <div class="grid grid-cols-1 text-center">
            <h3 class="font-semibold text-2xl leading-normal mb-4">Ce qu'ils pensent du livre…</h3>
        </div><!--end grid-->

        <div class="grid grid-cols-1 mt-6">
            <div class="tiny-item">
                <div class="tiny-slide text-center">
                    <div class="cursor-e-resize">
                        <div class="content relative rounded shadow dark:shadow-gray-700 m-2 p-6 bg-white dark:bg-slate-900 before:content-[''] before:absolute before:start-1/2 before:-bottom-[4px] before:box-border before:border-8 before:rotate-[45deg] before:border-t-transparent before:border-e-white dark:before:border-e-slate-900 before:border-b-white dark:before:border-b-slate-900 before:border-s-transparent before:shadow-testi dark:before:shadow-gray-700 before:origin-top-left">
                            <i class="mdi mdi-format-quote-open mdi-48px text-teal-500"></i>
                            <p class="text-slate-400">Le bouleversement technique et organisationel de l'IT que nous connaissions, apporté par Kubernetes, est de nature à rebuter, sinon troubler, les non-initiés. Cet ouvrage a pour but de prendre du recul sur les détails techniques et d'embrasser une vision d'ensemble de cet outil incontournable. Les avertis y trouveront de quoi approfondir leurs connaissances ou remettre en question leurs certitudes, grâce aux nombreux retours d'expérience et témoignages.</p>
                            <ul class="list-none mb-0 text-amber-400 mt-3">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>
                        
                        <div class="text-center mt-5">
                            <img src="/images/JD-Fresser-Portrait.webp" class="size-14 rounded-full shadow-md dark:shadow-gray-700 mx-auto" alt="">
                            <h6 class="mt-2 font-semibold">Fresser J.</h6>
                            <span class="text-slate-400 text-sm">Site Reliability Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Review-->
