<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Art of Kubernetes - {% block title %}Appréhendez Kubernetes pour sa mise en place et son utilisation{% endblock %}</title>
{% block meta %}
<meta name="author" content="Florian Grignon">
<meta name="description" content="Appréhendez Kubernetes pour sa mise en place et son utilisation.">
<meta name="keywords" content="Kubernetes, Organisation de Kubernetes, Piloter Kubernetes, Automatisation et Orchestration, Surveillance et Dépannage, Sécurité avec Kubernetes, Cas d'Utilisation Kubernetes, Écosystème Kubernetes, Cloud, GCP, AWS, Livre, Chapitres, Partage">
{% endblock %}

<meta name="website" content="https://theartofkubernetes.com">
<meta name="email" content="bonjour@theartofkubernetes.com">
<meta name="version" content="1.0.0">

<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">
