<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Art of Kubernetes - {% block title %}Un livre complet sur Kubernetes{% endblock %}</title>
{% block meta %}
<meta name="author" content="Florian Grignon">
<meta name="description" content="The Art of Kubernetes est un livre complet pour maitriser la mise en place et l'utilisation de Kubernetes">
<meta name="keywords" content="Kubernetes, Cloud, Florian GRIGNON">
{% endblock %}

<meta name="website" content="https://theartofkubernetes.com">
<meta name="email" content="bonjour@theartofkubernetes.com">
<meta name="version" content="1.0.0">

<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">
