{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions %}
  {%- macro _(msg) -%}
    {{ msg % kwargs }}
  {%- endmacro -%}
{% endif %}

<!DOCTYPE html>
<html lang="fr" class="light scroll-smooth" dir="ltr">
<head>
  {% include "partials/title-meta.html" %}

  <!-- Css -->
  {% include "partials/head-css.html" %}
</head>

{% include "partials/body.html" %}

  {% include "partials/navbar/nav-light.html" %}

  {% block content %}
  {% endblock %}

        {% include "partials/footer/footer.html" %}

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 right-5 size-9 text-center bg-teal-500 text-white leading-9"><i class="mdi mdi-arrow-up"></i></a>
        <!-- Back to top -->

        <!-- JAVASCRIPTS -->
        <script src="theme/assets/libs/feather-icons/feather.min.js"></script>
        {% include "partials/script-file.html" %}
        <!-- JAVASCRIPTS -->
    </body>
</html>
